{% import "macro.html" as macro %}

{% extends "layout.html" %}

{% block nav %}
{{macro.navbar(login)}}
{% endblock %}

{% block content %}
<form method="post" id="login">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="username">
    </div>
    <div class="form-group">
        <label for="pw">Password</label>
        <input type="password" class="form-control" id="pw" name="password" placeholder="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}