<--macros for showing movie title and image-->

{% macro navbar(login) -%}
    <nav id="navbar" class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Tiny DouBan</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% if login %}
            <a class="btn btn-outline-info my-2 my-sm-0" href="/logout">logout</a>
        {% else %}
        <div class="btn-group" role="group">
            <a class="btn btn-outline-info my-2 my-sm-0" href="/login">login</a>
            <a class="btn btn-info my-2 my-sm-0" href="/signup">sign up</a>
        </div>
        {% endif %}
    </nav>
{%- endmacro %}

{% macro movie_list(movies) -%}
<div class="row">
    {% for movie in movies %}
        <div class="col">
            <a href="{{'/movie/{}'.format(movie['movie_id'])}}">
                {% if movie['poster_path'] %}
                    <img src="{{'https://image.tmdb.org/t/p/w92/' + movie['poster_path']}}"/>
                {% else %}
                    <img src="{{ url_for('static', filename='blank92.jpg') }}"/>
                {% endif %}
            </a>
            <a href="{{'/movie/{}'.format(movie['movie_id'])}}">
                <p>{{ movie['title'] }}</p>
            </a>
        </div>
    {% endfor %}
</div>
{%- endmacro %}

{% macro staff_list(staffs) -%}
<div class="row">
    {% for staff in staffs %}
        <div class="col">
            <a href="{{'/staff/{}'.format(staff['staff_id'])}}">
                {% if staff['profile_path'] %}
                    <img src="{{'https://image.tmdb.org/t/p/w92/' + staff['profile_path']}}"/>
                {% else %}
                    <img src="{{ url_for('static', filename='blank92.jpg') }}"/>
                {% endif %}
            </a>
            <a href="{{'/staff/{}'.format(staff['staff_id'])}}">
                <p>{{ staff['name'] }}</p>
            </a>
        </div>
    {% endfor %}
</div>
{%- endmacro %}

{% macro staff_info(staff) -%}
    <div class="staff row">
        <div class="staff-poster col">
            <img src="{{'https://image.tmdb.org/t/p/w154/' + staff['profile_path']}}"/>
        </div>
    </div>
{%- endmacro %}

{% macro staff_movie_list(staff_best_movie) -%}
<div class="row">
    {% for movie in staff_best_movie %}
        <div class="col">
            <p>{{"Rating: {:.1f}".format(movie['rating'])}}</p>
            <a href="{{'/movie/{}'.format(movie['movie_id'])}}">
                <img src="{{'https://image.tmdb.org/t/p/w92/' + movie['poster_path']}}"/>
            </a>
            <a href="{{'/movie/{}'.format(movie['movie_id'])}}">
                <p>{{ movie['title'] }}</p>
            </a>

        </div>
    {% endfor %}
</div>
{%- endmacro %}

{% macro co_star_list(co_staff) -%}
<div class="row">
    {% for staff in co_staff %}
        <div class="col">
            <a href="{{'/staff/{}'.format(staff['staff_id'])}}">
                <img src="{{'https://image.tmdb.org/t/p/w92/' + staff['profile_path']}}"/>
            </a>
            <a href="{{'/staff/{}'.format(staff['staff_id'])}}">
                <p>{{ staff['name'] }}</p>
            </a>
        </div>
    {% endfor %}
</div>
{%- endmacro %}