#login {
    width: 35%;
    min-width: 200px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

#signup {
    width: 35%;
    min-width: 200px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

a {
    text-decoration: none;
    color: black;
}

#nav {
    margin-bottom: 20px;
}

.fas {
    display: inline-block;
}

.fa-star::before {
    color: gold;
}

#rating-update {
    display: inline-block;
    max-width: 60px;
}

#alert {
    width: 35%;
    min-width: 200px;
    margin: auto;
    display: none;
}