#login {
    width: 60%;
    min-width: 400px;
    margin: auto;
    margin-top: 10%;
}

body {
    height: 100%;
}

.container {
    min-height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

#navbar {
    margin-bottom: 20;
}